/* --------------------Font Settings--------------------- */
.roboto-slab {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.cormorant-garamond {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* --------------------Text Alignment-------------------- */
.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.no-margin {
    margin: 0;
}

/* -----------------Background Defaults------------------ */
.back-default {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ---------------Background Color Settings--------------- */
body {
    background-color: #ECF0F1; /* White */
    caret-color: transparent;
}

.footer {
    background-color: #8b5e3c;
}

/* --------------Border Decoration Settings--------------- */
.bottom_border_thick {
    border-bottom: 6px solid #7F8C8D; /* Light Blue */
}

.top_border_thick {
    border-top: 6px solid #7F8C8D; /* Light Blue */
}

.bottom-border-thin {
    border-bottom: 1px solid #7F8C8D; /* Light Blue */
}

/* --------------------Extra Settings-------------------- */
.div_right {
    margin-left: auto;
    margin-right: 0px;
    padding-right: 25px;
}

.unselectable_text {
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

.hr_lines {
    position: relative;
    float:right;
    top: 2px;
}

.hr_lines:before {
    content:" ";
    display: block;
    height: 2px;
    width: 2500px;
    position: absolute;
    top: 50%;
    right: 110%;
    background: #7F8C8D; /* Light Blue */
}

.all_project_link {
    float: right;
    font-size: 15px;
    border: 2px solid rgb(127,140,141);
    border: 2px solid rgba(127,140,141,.7);
    background: rgba(44,62,80,.7);
    padding: 5px;
    color: #7F8C8D;
    text-align: center;
    text-decoration: none;
}

.all_project_link:hover {
    border: 2px solid #2C3E50;
    background: #7F8C8D;
    color: #ECF0F1;
}

/* -------------------Navbar Settings-------------------- */
.header {
    padding: 0px;
    background-color: #2C3E50; /* Dark Blue */
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-link {
    padding: 18px;
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    text-align: center;
    color: #7F8C8D; /* Light Blue */
}

@media (max-width: 1200px) {
    .nav-link {
        width: 125px;
        font-size: 15px;
        padding: 19px;
    }
}

@media (max-width: 992px) {
    .nav-link {
        width: 100%;
        font-size: 16px;
    }
}

.nav-text {
    font-size: 44px;
    font-weight: 600;
    color: #7F8C8D; /* Light Blue */
    padding: 0px;
    margin-top: -5px;
    margin-right: 0px;
}

.nav-text:hover {
    color: #ECF0F1; /* White */
}

.nav-link:hover {
    color: #ECF0F1; /* White */
    background-color: #7F8C8D; /* Light Blue */
}

.logo {
    width: 48px;
    border-radius: 75px;
    margin-left: 5px;
    padding-top: 0px;
}

/* --------------------------------------------------Homepage--------------------------------------------------- */

/* -------------------Recent Projects--------------------- */
.recent-projects {
    padding: 2% 4% 2% 4%;
    background-image: url(../images/site-background.jpg);
}

.grid-recent-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    columns: 3;
    margin-top: 40px;
}

.grid-select-item {
    border: 3px solid #7F8C8D; /* Light Blue */
    width: 100%;
    height: 300px;
}

.grid-select-hover {
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(8,7,6,.7);
    padding: 10% 5% 0% 5%;
}

.grid-select-hover:hover {
    opacity: 1;
    transition: 1s;
}

.recent-projects-font {
    color: #7F8C8D; /* Light Blue */
    text-decoration: none;
    font-weight: 900;
}

/* ------------------About Me & Resume-------------------- */
.personal {
    background-image: url(../images/personal-background.jpg);
}

.personal-wrapper {
    height: 100%;
    width: 100%;
    padding: 2% 4% 2% 4%;
    color: #ECF0F1; /* White */
    background: rgba(8,7,6,.3);
}

.personal-box {
    border: 6px solid #7F8C8D; /* Light Blue */
    width: 48%;
    padding: 1%;
    margin: 0% auto 0% 0%;
    background: rgba(8,7,6,.8);
}

.headers {
    color: #7F8C8D; /* Light Blue */
}

.header-text {
    padding-bottom: 10px;
    color: #7F8C8D; /* Light Blue */
    paint-order: stroke fill;
    text-shadow: -2px -2px #2C3E50, 2px 2px #2C3E50, 2px -2px #2C3E50, -2px 2px #2C3E50;
}

.personal-p {
    font-weight: 600;
    font-size: 20px;
    color: #7F8C8D; /* Light Blue */
}

.resume-p {
    font-weight: 600;
}

.resume-li {
    list-style-type: none;
}

.resume-span {
    font-weight: 600;
}

/* --------------------Screen Sizing---------------------- */
@media only screen and (max-width: 1300px) {
    .personal-box {
        width: 100%;
    }

    .about {
        margin: 0px 0px 12px 0px;
    }

    .grid-select-item {
        height: 400px;
    }

    .grid-recent-projects {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-select-hover {
        padding: 5%;
    }

    .Slogan {  
        bottom: 650px;
        padding: 0px;
    }
}


/* -------------------Certain Project--------------------- */
.project-div {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
}

.text-box {
    color: #7F8C8D; /* Light Blue */
    padding-top: 25px;
    padding-bottom: 25px;
    border: 6px solid #000000; /* Black */
    background-color: #2C3E50; /* Dark Blue */
}

.project-h1 {
    text-decoration: underline;
    font-size: 50px;
}

.project-p {
    color: #7F8C8D; /* Light Blue */
    width: 60%;
    font-size: 20px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 1280px;
    height: 720px;
}

@media (max-width: 1400px) {
    iframe {
        width: 640px;
        height: 360px;
    }
}

@media (max-width: 768px) {
    iframe {
        width: 384px;
        height: 216px;
    }
}

@media (max-width: 576px) {
    iframe {
        width: 128px;
        height: 72px;
    }
}

.github-link {
    text-decoration: none;
    color: #7F8C8D; /* Light Blue */
}

.github-link:hover {
    color: #ECF0F1; /* White */
}

.back-increase {
    padding: 14.3% 4% 14.21% 4%;
}

/* ---------------------Main Window---------------------- */
.Banner {
    padding: 0px;
    margin-top: -8px;
}

.Banner_Image {
    background-image: url("../images/banner-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.Slogan {
    position: absolute; /* Positions the overlay on top of the image */
    bottom: 250px;
    text-align: center; /* Centers content horizontally within the overlay */
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Centers content vertically */
    justify-content: center;
    color: #7F8C8D; /* Light Blue */
    text-shadow: -1px -1px #2C3E50, 1px 1px #2C3E50, 1px -1px #2C3E50, -1px 1px #2C3E50;
    font-family: Brush Script MT;
    font-size: 6.5vw;
    font-weight: 300;
    padding: 0px;
}

.btn {
     border: 2px solid rgb(127,140,141);
    border: 2px solid rgba(127,140,141,.7);
    background: rgba(44,62,80,.7);
    color: #7F8C8D;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    border: 2px solid #2C3E50;
    background: #7F8C8D;
    color: #ECF0F1;
}

.img-wrapper {
    position: relative; /* Enables absolute positioning of children */
    width: 100%; /* Ensures the wrapper takes up the full width */
}

.img-overlay {
    position: absolute; /* Positions the overlay on top of the image */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* Centers content horizontally within the overlay */
    display: flex; /* Use flexbox for vertical centering */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
}

.card-footer {
    margin-top: 75px;
    margin-left: 65px;
}

@media only screen and (max-width: 1550px) {
    .Slogan {
        top: 100px;
    }
}

@media only screen and (max-width: 960px) {
    .Slogan {
        top: 50px;
    }
}

@media (max-width: 768px) {
    .Slogan {
        position: absolute; /* Positions the overlay on top of the image */
        top: 0;
        bottom: 70px;
        left: 0;
        right: 0;
        text-align: center; /* Centers content horizontally within the overlay */
        display: flex; /* Use flexbox for vertical centering */
        align-items: center; /* Centers content vertically */
        justify-content: center;
    }

    .btn {
        font-size: 8px;
        
    }

    .card-footer {
        margin-top: 40px;
        margin-left: 40px;
        
    }
}

/* ------------------------Footer------------------------ */
.footer {
    padding: 0px;
    background-color: #2C3E50; /* Dark Blue */
    margin: 0px;
}

.footer-text {
    padding: 18px;
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    text-align: center;
    color: #7F8C8D; /* Light Blue */
    text-decoration:none;
}

.footer-text:hover {
    color: #ECF0F1; /* White */
    background-color: #7F8C8D; /* Light Blue */
}

.copyright {
    color: #7F8C8D; /* Light Blue */
}